.aboutme-section {
  background-color: $main-bg-color02;
  height: auto;
  padding: 120px 0 160px;
  &-wrapper {
    position: relative;
    max-width: calc(1280px - 160px);
    width: 100%;
    margin: 0 auto;
    h2 {
      color: $text-secondary-color01;
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 64px 0;
    }
    .brown-shape-news01 {
      position: absolute;
      bottom: -363px;
      left: -80px;
      z-index: 0;
      transform: rotate(270deg);
    }
    .brown-shape-news02 {
      position: absolute;
      bottom: 0px;
      right: -400px;
      z-index: 0;
    }
    .text-box {
      &-slot {
        p {
          color: $text-secondary-color01;
        }
        a {
          color: $text-secondary-color02;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .aboutme-section {
    padding: 64px 0;
    &-wrapper {
      max-width: unset;
      width: calc(100% - 32px);
      margin: 0 16px;
      h2 {
        font-size: 28px;
        margin: 0 0 40px 0;
      }
      .brown-shape-news01 {
        display: none;
      }
      .brown-shape-news02 {
        width: 300px;
        height: auto;
        right: -220px;
      }
    }
  }
}
