.contact-section {
  background-color: $main-bg-color02;
  height: auto;
  padding: 100px 0;
  &-wrapper {
    position: relative;
    max-width: calc(1280px - 160px);
    width: 100%;
    margin: 0 auto;
    h2 {
      color: $text-secondary-color01;
      font-size: 40px;
      margin-bottom: 24px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 64px 0;
    }
    .social-links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      &-slot {
        > a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin: 0 0 24px 0;
          text-decoration: none;
          &:hover {
            span {
              color: $text-secondary-color02;
            }
          }
          img {
            display: flex;
            margin: 0 24px 0 0;
            object-fit: contain;
            border-radius: 100%;
          }
          span {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: $text-secondary-color01;
          }
        }
      }
    }
  }
}
