.cooperation-section {
  background-color: $main-bg-color01;
  height: auto;
  padding: 100px 0;
  &-wrapper {
    position: relative;
    max-width: calc(1280px - 160px);
    width: 100%;
    margin: 0 auto;
    h2 {
      color: $text-primary-color01;
      font-size: 40px;
      margin-bottom: 24px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 64px 0;
    }
    .golden-shape-cooperation01 {
      position: absolute;
      bottom: -140px;
      left: -320px;
      z-index: 0;
    }
    .golden-shape-cooperation02 {
      position: absolute;
      top: -238px;
      right: -160px;
      z-index: 0;
      transform: rotate(-90deg);
    }
  }
}

@media (max-width: 960px) {
  .cooperation-section {
    padding: 64px 0;
    &-wrapper {
      max-width: unset;
      width: calc(100% - 32px);
      margin: 0 16px;
      h2 {
        font-size: 28px;
        margin: 0 0 40px 0;
      }
      .golden-shape-cooperation01 {
        bottom: -103px;
        left: -80px;
      }
      .golden-shape-cooperation02 {
        top: -201px;
        right: -120px;
      }
    }
  }
}
