#hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-bg-color02opacity08;
    opacity: 0.4;
    pointer-events: none;
    z-index: 1;
  }
  .hero-video {
    position: relative;
    height: 640px;
    width: 100vw;
    object-fit: cover;
    filter: contrast(1.35) brightness(0.65) opacity(0.6);
  }
  .hero-wrapper {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
    &__text {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 48px;
        background: linear-gradient(
          -120deg,
          $color-black,
          $text-secondary-color01 90%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: $transparent;
        background-clip: text;
        color: $transparent;
        filter: brightness(1.2);
      }
      h2 {
        font-size: 22px;
        font-weight: 600;
        color: $text-secondary-color01;
        background: linear-gradient(
          -120deg,
          $color-black,
          $text-secondary-color01 90%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: $transparent;
        background-clip: text;
        color: $transparent;
        filter: brightness(1.2);
        span {
          color: $text-primary-color01;
        }
      }
      .hero-desc {
        margin: 16px 16px 0 16px;
        max-width: 600px;
        > p {
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          margin: 0;
        }
      }
      .button01 {
        margin: 32px auto;
      }
    }
  }
}

@media (max-width: 1200px) {
  #hero {
    .hero-wrapper {
      right: 32px;
      &__avatar {
        margin-left: 24px;
      }
    }
  }
}

@media (max-width: 1100px) {
  #hero {
    height: 100%;
    .hero-video {
      width: 100%;
      height: 68dvh;
      min-height: 560px;
      object-fit: none;
    }
    .hero-wrapper {
      top: 0;
      left: 0;
      right: unset;
      flex-direction: column;
      justify-content: center;
      max-width: unset;
      height: 100%;
      &__avatar {
        width: 45vw;
        height: auto;
        margin: 24px 0;
      }
      &__text {
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        h1 {
          font-size: 36px;
          line-height: 44px;
          margin-bottom: 12px;
        }
        h2 {
          font-size: 20px;
        }
        .hero-desc {
          max-width: 600px;
          > p {
            font-size: 12px;
          }
        }
        .button01 {
          font-size: 12px;
        }
      }
    }
  }
}
