.highschool-section {
  background-color: $main-bg-color01;
  height: auto;
  padding: 100px 0;
  &-wrapper {
    position: relative;
    max-width: calc(1280px - 160px);
    width: 100%;
    margin: 0 auto;
    h2 {
      color: $text-primary-color01;
      font-size: 40px;
      margin-bottom: 24px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 64px 0;
    }
    .golden-shape-highschool01 {
      position: absolute;
      top: 48px;
      left: -160px;
      z-index: 0;
      transform: rotate(90deg);
      width: 300px;
      height: auto;
      opacity: 0.5;
    }
    .golden-shape-highschool02 {
      position: absolute;
      bottom: 48px;
      right: -160px;
      z-index: 0;
      transform: rotate(270deg);
      width: 300px;
      height: auto;
      opacity: 0.5;
    }
  }
}
