* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $white-bg-color;
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}
