$color-white: #ffffff;
$color-black: #000000;
$color-black02: #0000008c;

$white-bg-color: #ffffff;
$main-bg-color01: #970a12;
$main-bg-color01opacity07: #970a11af;
$main-bg-color02: #fed67f;
$main-bg-color02opacity07: #fed67fa8;

$text-primary-color01: #fbd980;
$text-primary-color02: #e9dab4;
$text-primary-color03: #e4b84b;
$text-secondary-color01: #970a12;
$text-secondary-color02: #c03038;

$border-color01: #970a12;
$border-color02: #f8e7bc;

$transparent: rgba(255, 255, 255, 0);
