$color-white: #ffffff;
$color-black: #000000;

$white-bg-color: #ffffff;
$main-bg-color01: #970a12;

$text-primary-color01: #fbd980;
$text-secondary-color01: #970a12;

$transparent: rgba(255, 255, 255, 0);
