$color-white: #ffffff;
$color-black: #000000;

$white-bg-color: #ffffff;
$main-bg-color01: #970a12;
$main-bg-color02: #fed67f;

$text-primary-color01: #fbd980;
$text-primary-color02: #e9dab4;
$text-primary-color03: #e4b84b;
$text-secondary-color01: #970a12;

$transparent: rgba(255, 255, 255, 0);
