header {
  position: relative;
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.2);
  width: 100vw;
  z-index: 1;
  .header {
    display: flex;
    width: 100%;
    background-color: $main-bg-color01;
    &-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $main-bg-color01;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      &__logo {
        a {
          text-decoration: none;
          img {
            height: auto;
          }
        }
      }
      &__nav {
        ul * {
          user-select: none;
        }

        ul.nav-first-lvl {
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;

          li {
            position: relative;

            &.nav-expand {
              span {
                position: relative;
                @include nav-link-mixin(8px 16px 8px 24px, 18px);

                img {
                  margin: 0 8px;
                }
                + .nav-second-lvl.active {
                  display: flex;
                  opacity: 1;
                  transform: translateY(0);
                }
              }
              .nav-second-lvl {
                list-style: none;
                position: absolute;
                left: 0;
                top: 60px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                background-color: $main-bg-color01;
                padding: 8px 0;
                opacity: 0;
                transform: translateY(-10px);
                transition: opacity 0.3s ease, transform 0.3s ease;
                li {
                  &::after {
                    display: none;
                  }
                  a {
                    font-size: 16px;
                    white-space: pre;
                  }
                }
              }
            }

            a {
              @include nav-link-mixin(8px 24px, 18px);
            }

            &:not(:last-child)::after {
              content: "";
              position: absolute;
              right: -2px;
              top: 50%;
              transform: translateY(-50%);
              width: 6px;
              height: 6px;
              background-color: $text-primary-color01;
              border-radius: 50%;
              margin-left: 16px;
            }
          }

          @keyframes wave {
            0%,
            100% {
              transform: scaleX(0);
            }
            50% {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
