.vert-box {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  &-slot {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 24px;
    border: 1px solid $color-black02;
    width: calc(50% - 12px);
    border-radius: 16px;
    background-color: $main-bg-color03;
    &:last-of-type {
      width: 100%;
    }
    h4 {
      font-size: 20px;
      margin: 0 0 12px 0;
      color: $text-secondary-color01;
      text-align: center;
    }
    p {
      color: $text-secondary-color01;
      text-align: center;
      a {
        color: $text-secondary-color02;
      }
    }
  }
  &.light-version {
    .vert-box-slot {
      border: 1px solid $border-color02;
      background-color: $main-bg-color04;
      &:last-of-type {
        width: calc(50% - 12px);
      }
      h4 {
        color: $text-primary-color01;
      }
      p {
        color: $text-primary-color02;
        a {
          color: $text-primary-color02;
        }
      }
    }
  }
}

.imglinks-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  gap: 40px;
  &-slot {
    background-color: $color-white;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 24px -8px $border-color02;
    transition: all 0.3s;
    height: auto;
    z-index: 1;
    &:hover {
      box-shadow: 0 0 18px 4px $border-color02;
      img {
        scale: 1.06;
      }
    }
    a {
      display: flex;
      height: 100%;
      width: 100%;
      height: 300px;
      width: 300px;
      img {
        transition: all 0.6s;
        border-radius: 16px;
        object-fit: contain;
        height: 100%;
        width: 100%;
        padding: 24px;
      }
    }
  }
}

@media (max-width: 960px) {
  .vert-box {
    gap: 20px;
    &-slot {
      padding: 24px 16px;
      width: 100%;
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
        a {
          font-size: 15px;
        }
      }
    }
    &.light-version {
      .vert-box-slot {
        &:last-of-type {
          width: 100%;
        }
      }
    }
  }

  .imglinks-box {
    &-slot {
      box-shadow: none;
    }
  }
}
