.text-box {
  position: relative;
  z-index: 1;
  &.dark-text {
    .text-box-slot {
      h4 {
        color: $text-secondary-color01;
      }
      p {
        color: $text-secondary-color01;
        a {
          color: $text-secondary-color02;
        }
      }
    }
  }
  &-slot {
    h4 {
      color: $text-primary-color02;
    }
    p {
      text-align: left;
      color: $text-primary-color02;
      margin: 0 0 16px 0;
      strong {
        font-weight: 600;
      }
      a {
        color: $text-primary-color03;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.img-text-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  margin: 0 0 40px 0;
  &.reversed {
    .img-box {
      margin: 0 64px 0 0;
    }
  }
  .img-box {
    margin: 0 0 0 64px;
    img {
      object-fit: cover;
      border-radius: 16px;
      width: 320px;
      height: auto;
    }
  }
}

.brown-text-box {
  &-slot {
    p {
      text-align: center;
      color: $text-secondary-color01;
      a {
        color: $text-secondary-color02;
      }
    }
  }
}

@media (max-width: 1100px) {
  .text-box {
    &.dark-text {
      .text-box-slot {
        h4 {
          font-size: 18px;
        }
        p {
          font-size: 15px;
          a {
            font-size: 15px;
          }
        }
      }
    }
    &-slot {
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
        strong {
          font-size: 15px;
        }
        a {
          font-size: 15px;
        }
      }
    }
  }

  .img-text-wrapper {
    flex-direction: column;
    margin: 0 0 32px 0;
    .text-box {
      &-slot {
        p {
          font-size: 15px;
        }
      }
    }
    &.reversed {
      .img-box {
        margin: 32px 0 40px 0;
      }
    }
    .img-box {
      margin: 32px 0 0 0;
      img {
        width: 60vw;
        height: auto;
      }
    }
  }
}
